.sidebar {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100vh;
}

.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgb(26, 26, 26);
  justify-content: space-between;
}
.sidebar-email {
  color: rgb(204, 204, 204);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px;
}

.sidebar-dropdown-button button {
  all: unset;
  font-size: 19px;
  margin-bottom: 8px;
  cursor: pointer;
}

.sidebar-dropdown-wrapper-hidden {
  display: none;
}

.sidebar-dropdown-wrapper-active {
  position: absolute;
  left: 170px;
  top: 40px;
  background-color: rgb(26, 26, 26);
  color: lightgrey;
  border: 0.5px solid lightgrey;
  width: 65px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.sidebar-dropdown-wrapper-active button {
  all: unset;
  cursor: pointer;
}

.sidebar-email p {
  margin-left: 18px;
}
.sidebar-new-note {
  padding: 10px 5px;
}
.sidebar-new-note-button {
  display: flex;
  background-color: teal;
  color: white;
  width: 90%;
  height: 30px;
  border-radius: 15px;
  justify-content: flex-start;
  align-items: center;
  border: none;
  padding-left: 10px;
  cursor: pointer;
}

.sidebar-new-note-button i {
  padding: 3px;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
}

.sidebar-links div {
  padding: 0px 10px;
}

.sidebar-links i {
  padding: 5px;
}

.sidebar-tags {
  cursor: pointer;
  color:rgb(204, 204, 204);
}

.sidebar-tags:hover {
  text-decoration: underline;
}

.sidebar-site-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.space-1 {
  height: 30px;
}

.space-2 {
  height: 20px;
}