.delete-notebook-modal-wrapper {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 300px;
}

#modal-content {
  border-radius: 10px;
}

.delete-notebook-modal-header {
  font-size: 21px;
  margin: 15px 15px;
}

.delete-notebook-info {
  margin: 5px 15px;
}

.delete-notebook-buttons {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
  margin-top: 20px;
}

.delete-notebook-buttons button {
  height: 35px;
  width: 70px;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
}