.notebody-wrapper {
  display: flex;
  flex-direction: column;
  width: 95%;
  overflow: hidden;
  padding: 20px;
}

.note-meat {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100%;
}
.notebody-title {
  height: 30px;
  font-size: 22px;
  resize: none;
  border-bottom: none;
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.notebody-body {
  height: 100%;
  font-size: 16px;
  resize: none;
  border-top: none;
  font-family: Arial, Helvetica, sans-serif;
}

textarea {
  outline: none;
}

.notebook-select-bar {
  display: flex;
  flex-direction: row;
  padding: 3px;
  align-items: center;
}

.notebook-select-bar button {
  all: unset;
  padding: 2px;
  padding-left: 10px;
  cursor: pointer ;
  color: teal;
}