.notebody-wrapper {
  display: flex;
  flex-direction: column;
  width: 95%;
  overflow: hidden;
  padding: 20px;
  padding-bottom: 10px;
}

.note-meat {
  display: flex;
  flex-direction: column;
  height: 86vh;
  width: 100%;
}
.notebody-title {
  height: 30px;
  font-size: 22px;
  resize: none;
  border-bottom: none;
  border: none;
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.notebody-title:focus {
  border: 1px solid grey;
}

.notebody-body-div {
  width: 100%;
  height: 100%;
}

.notebody-body {
  height: 95%;
  font-size: 16px;
  resize: none;
  /* border-top: none; */
  font-family: Arial, Helvetica, sans-serif;
  width: 99%;
}

textarea {
  outline: none;
}

.notebook-select-bar {
  display: flex;
  flex-direction: row;
  padding: 3px;
  align-items: center;
}

.notebook-select-bar button {
  all: unset;
  padding: 2px;
  padding-left: 10px;
  cursor: pointer ;
  color: teal;
}

.note-tags-div {
  margin-top: -5px;
  display: flex;
  flex-direction: row;
  overflow-wrap: break-word;
  height: 50px;
  justify-content: flex-start;
  align-items: center;
}

.note-single-tag {
  padding: 3px;
  border-radius: 10px;
  border: 0.5px solid grey;
  margin: 0px 4px;
  margin-top: -3px;
  cursor: pointer;
}

.note-single-tag:hover {
  text-decoration: underline;
}

.note-tag-add-tag {
  display: flex;
  flex-direction: row;
}

.note-tag-add-tag button {
  all: unset;
  cursor: pointer;
  color: teal;
  padding: 5px;
}

.note-tag-add-tag button:hover{
  all: unset;
  cursor: pointer;
  padding: 5px;
}