
.notessidebar-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 375px;
  background-color: rgb(245, 245, 245);
}

.notessidebar-header {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-bottom: .5px lightgrey solid;
}

.notessidebar-header i {
  padding: 3px;
}

.sidebarnotecard-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70px;
  border-bottom: .5px lightgrey solid;
  padding: 15px 10px;
}
.sidebarnotecard-wrapper:hover {
  background-color: rgb(253, 253, 253);
}

.sbnc-created-at {
  font-size: 13px;
}

.sbnc-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sbnc-delete-div {
  height: 16px;
  width: 16px;
}

.sbnc-delete-div button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  border: none;
  height: 100%;
  width: 100%;
  font-size: 12px;
  color: red;
  cursor: pointer;
}

.notessidebar-title {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.notebooks-actions-button {
  height: 20px;
  padding-right: 10px;
  font-size: 20px;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.notebook-actions-dropdown-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  top: 52px;
  left: 476px;
  border-radius: 3px;
}

.notebook-actions-dropdown-wrapper button {
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.notebook-actions-dropdown-wrapper button:hover {
  background-color: lightgray;
}