.notebooks-wrapper {
  display: flex;
  flex-direction: column;
  float: none;
  overflow: hidden;
  width: 95%;
  margin: 5px 25px;
}

.notebook-bar-wrapper:hover {
  background-color: lightgrey;
}

.notebook-bar-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.notebooks-body-bar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 0.5px solid grey
}
.notebooks-body-bar-header div {
  margin: 5px 10px;
}
.notebooks-body {
  margin: 10px 15px;
}

.notebooks-number-new {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}